---
import Layout from '@layouts/Layout.astro';
import Header from '@components/rp/Header.astro';
import Hero from '@components/rp/Hero.astro';
import About from '@components/rp/About.astro';
import Services from '@components/rp/Services.astro';
import TechStack from '@components/rp/TechStack.astro';
import Process from '@components/rp/Process.astro';
import Work from '@components/rp/Work.astro';
import Testimonials from '@components/rp/Testimonials.astro';
import Products from '@components/rp/Products.astro';
import CTA from '@components/rp/CTA.astro';
import Footer from '@components/rp/Footer.astro';
---

<Layout>
	<Header />
	<main id='main'>
		<Hero />
		<About />
		<Services />
		<TechStack />
		<Process />
		<Work />
		<Testimonials />
		<Products />
		<CTA />
	</main>
	<Footer />
</Layout>
