---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<Layout title='Astro'>
	<Header />
	<div class=''>
		<h1 class='mt-4 text-xl'>Home</h1>
		<p>This is the Astro homepage page.</p>
		<img src='/img/icon-home.png' />
	</div>
	<Footer />
</Layout>
